[Unit]
Description=Add wheel users to docker group
After=sysusers.target
ConditionPathExists=/usr/lib/systemd/system/docker.service

[Service]
Type=oneshot
ExecStart=/usr/share/ublue-os/bin/bluebox-docker-group
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
